<?xml version="1.0" encoding="UTF-8"?>

<plugin-features
	Bundle-Name="applite_update"
	Bundle-SymbolicName="applite.plugin.update"
	Bundle-Version="1.0"
	date="2015.6.5"
	provider-name=""
	provider-url="" 
	Bundle-Activator="com.mit.appliteupdate.main.SimpleBundle"
	Bundle-Activity="com.mit.appliteupdate.main.MainActivity">
    Bundle-Service=""
    Bundle-Receiver=""
</plugin-features>