<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mit.appliteupdate" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <receiver
            android:name="com.mit.appliteupdate.main.UpdateReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <!--<action android:name="android.intent.action.PACKAGE_REMOVED" />-->
                <!--<action android:name="android.intent.action.PACKAGE_CHANGED" />-->
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
